@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
  }

div{
    border: 0px solid rgb(247, 243, 24);
  }

.delineador_amarillo {
    border: 5px solid rgb(247, 243, 24);
    height: 100%;
}

.delineador_azul {
    border: 5px solid rgb(72, 126, 228);
}

.delineador_rosa {
    border: 3px solid rgb(228, 85, 192);
    height: auto;
}

.delineador_verde {
    border: 3px solid rgb(121, 240, 105);
    height: auto;
}

.svg-center {
width: 100%;
height: 100%;
border: 1px solid rgb(0, 0, 0);
margin: 0px;
align-items: center;
justify-content: center;
}

input[type=submit]{
    background-color: #9a26dd;
    background-color: #ee4fb9;
    color: white;
    padding: 12px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #c820f1;
}

.disclaimer{
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    top: 97%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.info_init{
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    top: 65%;  
    left: 55%; 
    transform: translate(-50%, -50%);
}


.info_main{
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    top: 30%;  
    left: 75%; 
    transform: translate(-50%, -50%);
    
}

.divBotonObten{
    padding-left: 20%;
    margin-top: 20px;
}

#divBoton{
    position: relative;
    top: 100%;  
    left: 10%; 
    transform: translate(-50%, -50%);
    
}

.contenedor_proceder{
    /* padding-left: 20%; */
    margin-top: 1%;
}

.title{
    position: fixed;
    top: 20%;  
    left: 50%; 
    transform: translate(-50%, -50%);

    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.subtitle{
    position: fixed;
    top: 55%;  
    left: 55%; 
    transform: translate(-50%, -50%);
    align-content: stretch;

    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.gradient {
    background-image: linear-gradient(-45deg, #2d5bf3, #2d5bf3, #2d5bf3, #2d5bf3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
}




