@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
  }

div{
    border: 0px solid rgb(247, 243, 24);
  }

.gradient {
    background-image: linear-gradient(-45deg, #2d5bf3, #2d5bf3, #2d5bf3, #2d5bf3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
}

.delineador_amarillo {
    border: 5px solid rgb(247, 243, 24);
    height: 100%;
}

.delineador_azul {
    border: 5px solid rgb(72, 126, 228);
}

.delineador_rosa {
    border: 3px solid rgb(228, 85, 192);
    height: auto;
}

.delineador_verde {
    border: 3px solid rgb(121, 240, 105);
    height: auto;
}

.svg-center {
width: 100%;
height: 100%;
border: 0px solid rgb(0, 0, 0);
margin: 0px;
align-items: center;
justify-content: center;
}

input[type=submit]{
    background-color: #9a26dd;
    background-color: #ee4fb9;
    color: white;
    padding: 12px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #c820f1;
}

.disclaimer{
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    top: 97%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}

.info_init{
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    top: 65%;  
    left: 55%; 
    transform: translate(-50%, -50%);
    border: 0px solid rgb(255, 255, 255);
}


.info_main{
    font-family: "Space Mono", monospace;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    position: absolute;
    top: 30%;  
    left: 75%; 
    transform: translate(-50%, -50%);
    border: 0px solid rgb(255, 255, 255);    
}

.divBotonObten{
    padding-left: 20%;
    margin-top: 20px;
}

#divBoton{
    position: relative;
    top: 100%;  
    left: 10%; 
    transform: translate(-50%, -50%);
    
}

.contenedor_proceder{
    /* padding-left: 20%; */
    margin-top: 1%;
}

#div-datos-generales{
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    top: 12%; 
    left: 15%;
}

.textos{
    /* position: relative; */
    transform: translate(-50%, -50%);
    /* display: none; */
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-bottom: -20px;
}

.numeros{
    /* position: relative; */
    align-content: stretch;
    transform: translate(-50%, -50%);
    /* display: none; */
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    letter-spacing: 1.6px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-top: -20px;
    margin-left: 25px;
}

.contenedor-datos {
    text-align: left;
    border: 0px solid rgb(130, 222, 26);
  }


#texto-envios{top: 10%; left: 0%;}
#numero-envios{top: 22%; left: 10%;}

#texto-rutas{top: 10%; left: 0%;}
#numero-rutas{top: 50%; left: 10%;}

#texto-clientes{top: 65%; left: 0%;}
#numero-clientes{top: 75%; left: 5%;}

/* Barras */

#columna12{
    position: absolute;
    border: 5px solid rgb(216, 31, 31);
    top: 10%; 
    left: 50%;
    width: 30%;
}

.texto-info{
    transform: rotateX(180deg);
    color: white;
}